:root {
  --_background: var(--background, black);
  --_border: var(--border, black);
  --_font-colour: var(--colour, white);
  --_overlay: var(--overlay, rgb(48, 48, 48));
  --_search-colour: var(--search-colour, #3d53b3);
  --_error-colour: var(--error-colour, #0008ff);
}

html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--_font-colour);
}

.container {
  z-index: 1;
  flex-grow: 1;

  border: 4px solid var(--_border);
  border-radius: 1.5rem;
  background-color: var(--_background);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  padding: 20px;
  max-width: 500px;
  min-height: 500px;
  position: relative;
}

#background {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 45% 0px;
  z-index: -1;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--_overlay);
}

#weather-text {
  /* border: 2px solid red; */
  font-size: 1.8rem;
  margin-top: -1.5rem;
}

.search-box {
  margin: -0.5rem auto 2rem 12rem;
  width: fit-content;
}

.search.icon {
  font-size: 2rem;
  cursor: pointer;
}

input#search {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  color: var(--_search-colour);
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  max-width: 180px;
}

.error {
  position: absolute;
  top: 56%;
  right: 35%;

  font-size: 1.5rem;
  font-weight: bold;
  color: var(--_error-colour);
}

/* metric boxes */

.content {
  /* border: 2px solid red; */
  font-size: 2.3rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

#temp-var,
#sun {
  font-size: 1.3rem;
}

#temp-var {
  /* border: 2px solid red; */
  margin-top: -1.5rem;
}

#temp {
  /* border: 2px solid orange; */
  font-size: 5rem;
}

.metrics {
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
}

/* buttons and metrics */
.box,
.btn,
.group,
.img {
  background-color: rgba(52, 81, 101, 0.6);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 2px;
  /* color: black; */
}

.box {
  flex: 1;
  /* background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2px; */
  display: flex;
  align-items: center;
}

.metric {
  text-align: left;
  margin-left: 5px;
}

.icon {
  width: 25px;
  height: 25px;
}

.metric-value {
  font-size: 1.3rem;
  font-weight: 900;
}

.metric-name,
.btn {
  font-size: 1.2rem;
}

/* forecast display */

.forecast-display,
.metrics {
  padding: 5px;
  /* border: 2px solid yellow; */
}

.forecast {
  /* border: 2px solid green; */
  display: flex;
}

.group {
  flex: 1;
  /* border: 2px solid rebeccapurple; */
  font-size: 1.3rem;
  padding: 3px 1rem;
  margin-right: 1rem;
}

.time {
  margin-bottom: 1rem;
}

.btn {
  padding: 3px 5px;
  color: inherit;
  font-weight: 700;
  border: 0;
  outline: 2px solid rgba(161, 241, 242, 0.4);
  margin-right: 0.5rem;
}
