html {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  font-size: 10px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  z-index: 1;
  flex-grow: 1;

  border: 4px solid #e97278;
  border-radius: 1.5rem;
  background-color: #f3a1a0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);

  padding: 20px;
  max-width: 500px;
  min-height: 500px;
  position: relative;
}

#background {
  border-radius: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./assets/tree-bg.gif);
  filter: blur(2.5px);
  background-position: 45% 30px;
  z-index: -1;
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-colour, #f9cdcc);
}

.weather-icon {
  /* border: 2px solid red; */
  position: relative;
  object-fit: cover;
  left: -0.5rem;
  width: 180px;
  height: 180px;
  margin: -5rem auto;
}

/* top section */

.search.icon {
  font-size: 2rem;
  cursor: pointer;
}

input#search {
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
  color: #3d53b3;
  font-size: 1.8rem;
  font-weight: 800;
  padding: 0.5rem 1rem;
  max-width: 180px;
}

/* metric boxes */

.content {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}

#temp {
  font-size: 5rem;
}

.metrics {
  margin: 0.5rem 0;
  display: flex;
  gap: 1rem;
}

/* buttons and metrics */
.box,
.btn {
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* background-color: rgba(194, 107, 131, 0.6); */
  /* background-color: rgba(123, 147, 255, 0.6); */
  /* background-color: rgba(203, 160, 243, 0.2); */
  /* background-color: rgba(237, 115, 115, 0.5); */
  background-color: rgba(161, 241, 242, 0.3);
  border-radius: 10px;
  padding: 2px;
  /* color: black; */
}

.box {
  flex: 1;
  /* background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 2px; */
  display: flex;
  align-items: center;
}

.metric {
  text-align: left;
  margin-left: 5px;
}

.icon {
  width: 25px;
  height: 25px;
}

.metric-value {
  font-size: 1.3rem;
  font-weight: 900;
}

.metric-name {
  font-size: 1.2rem;
}
